<%- include('header', {pagetitle: 'Customer'}) -%>
<div class="container mt-4">
  <a href="customer/add" class="btn btn-success mb-3">Add new</a>
  <div class="row">
    <!-- Product 1 -->

    <div class="col-md-6 mb-3">
      <a href="/customer/modify" class="text-decoration-none text-reset">
        <div class="border p-3 d-flex align-items-center">
          <div class="w-100">
            <p class="mb-1">Name: <span class="text-danger">string</span></p>
            <p class="mb-1">Mobile number: <span class="text-danger">string</span></p>
          </div>
        </div>
      </a>
    </div>



    <!-- Product 2 -->
    <div class="col-md-6 mb-3">
      <a href="/customer/modify" class="text-decoration-none text-reset">
        <div class="border p-3 d-flex align-items-center">
          <div class="w-100">
            <p class="mb-1">Name: <span class="text-danger">string</span></p>
            <p class="mb-1">Mobile number: <span class="text-danger">string</span></p>
          </div>
        </div>
      </a>
    </div>

    <!-- Product 3 -->
    <div class="col-md-6 mb-3">
      <a href="/customer/modify" class="text-decoration-none text-reset">
        <div class="border p-3 d-flex align-items-center">
          <div class="w-100">
            <p class="mb-1">Name: <span class="text-danger">string</span></p>
            <p class="mb-1">Mobile number: <span class="text-danger">string</span></p>
          </div>
        </div>
      </a>
    </div>

    <!-- Product 4 -->
    <div class="col-md-6 mb-3">
      <a href="/customer/modify" class="text-decoration-none text-reset">
        <div class="border p-3 d-flex align-items-center">
          <div class="w-100">
            <p class="mb-1">Name: <span class="text-danger">string</span></p>
            <p class="mb-1">Mobile number: <span class="text-danger">string</span></p>
          </div>
        </div>
      </a>
    </div>
</div>
</div>
<%- include('footer') -%>